body {
  font: 75% "Trebuchet MS", sans-serif;
  margin: 20px;
}

#progress {
  width: 50%;
  height: 1em;
}

.section {
  margin-top: 20px;
}

.code {
  // font-family: monospace;
}

.bar-wrapper {
  width: 150px;
}

.bar {
  display: inline-block;
  height: 1em;
  margin-right: 5px;
}

#flat div, #tree div {
  background-color: white;
}

#stats {
  border: 1px solid #dddddd;
  width: 300px;
  height: 250px;
}

.nodata:before {
  content: "No data loaded";
}

.nodata {
  display: block;
  width: 100%;
  text-align: center;
  color: #777777;
  position: relative;
  top: 50%;
}