div.bubble
{
    visibility: hidden; 
    position:absolute; 
    z-index: 2; 
    padding-top:4px; 
    padding-bottom:4px; 
    padding-right:4px; 
    padding-left: 4px; 
    border: 2px black solid; 
    background: yellow;
    font-family: monospace;
}

span.button
{
    font-family: monospace;
    font-weight:bold;
}
